@media {

body {
    font-family: 'Cardo', serif;

    }
    
img {
    width:100%;
}
    
    hr {
        color:crimson;
    }
    
a {
    color:#943a20;
    }
    
a:hover {
    color:#943a20;
    }
    
#chart1 {
        padding:0px 20px 0px 20px;
    }
    
.drop
    {
        font-size:48px;
        padding: 0px 5px 0px 0px;
    }

#topper {
    height:900px;
    background-image: url(03travel-sweden-01-01-tmkh-articleLarge.jpg);
    background-size:cover;
    background-position: 10% 30%;    
}

.content {
    width:100%;
    margin:auto;
}

.credit {
    color:#943a20;
    font-family:'Didact Gothic', sans-serif;
    text-transform:uppercase;

}
    
.caption {
    padding:5px 0px 0px 0px;
    font-size:12px;
    }
    
.byline {
    }

.date {
        font-size:12px;
        text-transform:uppercase;
        color:#943a20;
        font-family:'Didact Gothic', sans-serif;
    }
    
h1 {
    font-size:50px;
    margin:300px 10px 10px 10px;
    padding:20px 20px 20px 20px;
    color: #FFFFFF;
    background-color: rgba(148, 58, 32, 0.5);
    text-align:center;
    font-style: italic;
    }
    
h2 { 
    font-size:25px;
    padding:10px 0px 20px 0px;
    }
    
    
.pullquote {
        /*background-color:#943a20;*/
        padding:30px 10px 10px 10px;
        margin:30px 0px 30px 0px;
        border-top:5px solid #943a20;
        text-align:center;
    }
    
    .quote {
        font-size:30px;
    }
    
    .attribution {
        
    }
    
    .quotemark {
        font-size:100px;
        font-weight:bold;
        float:left;
        line-height: 60px;
    }
    
}

@media (min-width:576px) {
    
.content {
    width:90%;
}
    
h1 {
    font-size:60px;
    margin:350px 10px 10px 10px;
    }
    
}

@media (min-width:992px) {
    
.content {
    width:60%;
}
    
h1 {
    font-size:70px;
    margin:300px 30% 0px 30%;
    }
    
}