body{
    font-family:Georgia, serif;
}

#article{
    width:70%;
    margin:auto;
}

h1{
    font-size: 50px;
}

#date{
    color:grey;
    font-size:10px;
}

#byline{
    font-weight:bold;
}

img{
    width:100%;
}

#footer{
    width:100%;
    background-color:darksalmon;
    color:black;
    position:fixed;
    bottom:0px;
    left: 0px;
}

@media{

@media(min-width:576px){
    h1{
        font-size:80px;
    }    
    }
    
 body{
    font-family:Georgia, serif;
}

#article{
    width:70%;
    margin:auto;
}

h1{
    font-size: 50px;
}

#date{
    color:grey;
    font-size:10px;
}

#byline{
    font-weight:bold;
}

img{
    width:100%;
}  
}