/*
MY COLOR PALETTE
Color 1 - #DBFE87
Color 2 - #FFE381
Color 3 - #CEC288
Color 4 - #6F8695
Color 5 - #1C448E
*/

body {
    background-color:#CEC288;
}

button {
    background-color:#6F8695;
    color:white;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color:#1C448E;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size:70px;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    letter-spacing:2px;
}