@media{
body {
font-family: georgia,serif;
}

#article{
width:70%;
margin: auto;
}

h1{
font-size:50px;
}

#date {
color: gray;
font-size: 15px;
}

#byline {
font-weight: bold;
}
img{
width:100%
}


}
@media(min-width:576px){

h1{
font-size: 80px;
    }
}